h1, h2, h3, h4, h5, h6 {
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 2;
  }

.bg-dark {
    background-color: #1c1e22 !important;
}

body {
    color: #fff;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0.25rem;
  }

a-special {
  text-decoration: underline;
}
